h1 {
    color: black;
    font-family: 'Copperplate','Georgia',sans-serif;
    text-align: center;

}
img {
    display: block;
    margin: auto;
    height: auto;
    width: 400px;
}

.home {
    color: white;
    background-color: brown;
    font-size: x-large;
    font-family: 'Times New Roman', Times, serif;

}

h3 {
    color: white;
    background-color: black;
}
